__pycache__
experiments
tensorboard
onnx_weights
weights
samples
evaluations

backbone/__pycache__
applications/__pycache__
data_processing/__pycache__
head/__pycache__
loss/__pycache__

utils/__pycache__
utils/voting/__pycache__

additions/train_fc/__pycache__
additions/train_fc/experiments
additions/train_fc/tensorboard

additions/train_emotion/__pycache__
additions/train_emotion/neck_and_head/__pycache__
additions/train_emotion/experiments
additions/train_emotion/tensorboard

additions/train_multitask/__pycache__
additions/train_multitask/neck_and_head/__pycache__
additions/train_multitask/experiments
additions/train_multitask/tensorboard

additions/train_mask_detection/__pycache__
additions/train_mask_detection/neck_and_head/__pycache__
additions/train_mask_detection/experiments
additions/train_mask_detection/tensorboard

additions/train_anti_spoofing/__pycache__
additions/train_anti_spoofing/neck_and_head/__pycache__
additions/train_anti_spoofing/experiments
additions/train_anti_spoofing/tensorboard
